@font-face {
    font-family:'Felix007';
    src: url('../fonts/felix007/felix007-medium.ttf') format('truetype');
}
body {
    font-family: 'Felix007', sans-serif;
    direction: rtl;
    text-align: centers;      
}

  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-field {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
    direction: rtl;

  }
  
  .login-btn {
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-btn:disabled {
    background-color: #555;
  }
  
  .register-link {
    margin-top: 15px;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
